.container {
    background: #fff !important;
}

.auto-suggest input {
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15),
        0 1px 0 rgba(0, 0, 0, 0.02);
    border: 0;
    -webkit-transition: box-shadow .15s ease;
    transition: box-shadow .15s ease;
}

.react-autosuggest__suggestions-container,
.react-autosuggest__suggestions-container--open {
    background: #fff !important;
    box-shadow: 3px 3px 6px rgba(30, 30, 30, .2);
}

.react-autosuggest__suggestion {
    list-style: none !important;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
}


.react-autosuggest__suggestion--first .suggestion-item {
    color: rgb(81, 42, 221);
    font-weight: bold;
}

.suggestionHighlighted {
    color: #000 !important;
}